/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */

.prettyprint {
    background: #282b2e;
    color: #a9b7c6;
    padding: 10px 15px;
    overflow-x: auto;
    font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
    border: 0 !important;
    line-height: 22.400000000000002px;
}

code {
    margin: 0 2px;
    color: #a9b7c6;
    padding: 3px 5px;
    border-radius: 2px;
    font-family: font-mono;
}

.pln {
    color: #a9b7c6;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
    color: #a9b7c6;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
    background-color: #282b2e;
    list-style-type: decimal;
}

@media screen {

    /* string content */
    .str {
        color: #6A8759;
    }

    /* keyword */
    .kwd {
        color: #cc7832;
    }

    /* comment */
    .com {
        color: #808080;
    }

    /* type name */
    .typ {
        color: #a9b7c6;
    }

    /* literal value */
    .lit {
        color: #bbb529;
    }

    /* punctuation */
    .pun {
        color: #a9b7c6;
    }

    /* lisp open bracket */
    .opn {
        color: #a9b7c6;
    }

    /* lisp close bracket */
    .clo {
        color: #a9b7c6;
    }

    /* markup tag name */
    .tag {
        color: #ffc66d;
    }

    /* markup attribute name */
    .atn {
        color: #a9b7c6;
    }

    /* markup attribute value */
    .atv {
        color: #6A8759;
    }

    /* declaration */
    .dec {
        color: #de935f;
    }

    /* variable name */
    .var {
        color: #e8bf6a;
    }

    /* function name */
    .fun {
        color: #ffc66d;
    }
}
