<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout"
      lang="ko">
<head>
    <title>오종성의 개발 블로그</title>
    <!-- default meta card -->
    <meta name="author" content="ohjongsung">
    <meta name="keyword" content="blog, development, ohjongsung">
    <meta name="description"
          content="개발과 관련해서 공부하고 배우고 경험한 것들을 정리하는 곳입니다.">
    <!-- Twitter card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="https://ohjongsung.io">
    <meta name="twitter:title" content="ohjongsung's Dev Story">
    <meta name="twitter:description"
          content="개발과 관련해서 공부하고 배우고 경험한 것들을 정리하는 곳입니다.">
    <meta name="twitter:image" content="https://ohjongsung.io/resources/images/header_image.jpg">
    <!-- http://opengraphprotocol.org/ -->
    <meta property="fb:app_id" content="1557516384290611">
    <meta property="og:url" content="https://ohjongsung.io">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="ohjongsung's Dev Story">
    <meta property="og:title" content="ohjongsung's Dev Story">
    <meta property="og:description"
          content="개발과 관련해서 공부하고 배우고 경험한 것들을 정리하는 곳입니다.">
    <meta property="og:image" content="https://ohjongsung.io/resources/images/header_image.jpg">

    <!-- Nate card -->
    <meta name="nate:url" content="https://ohjongsung.io">
    <meta name="nate:title" content="ohjongsung's Dev Story">
    <meta name="nate:description"
          content="개발과 관련해서 공부하고 배우고 경험한 것들을 정리하는 곳입니다.">
    <meta name="nate:image" content="https://ohjongsung.io/resources/images/header_image.jpg">
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "website",
      "headline": "ohjongsung's Dev Story",
      "author": "ohjongsung",
      "url": "http://ohjongsung.io",
      "image": "https://ohjongsung.io/resources/images/header_image.jpg",
      "description": "개발과 관련해서 공부하고 배우고 경험한 것들을 정리하는 곳입니다."

    }

    </script>
</head>
<body>
<section layout:fragment="content">
    <!-- Blog entries -->
    <div class="w3-col l10 m10 s12">
        <div class="w3-panel w3-border-bottom" th:each="post : ${posts}">
            <div class="w3-container">
                <h2 class="w3-xxlarge"><b th:text="${post.title}">TITLE HEADING</b></h2>
            </div>
            <div class="w3-container">
                <p th:utext="${post.renderedSummary}">Mauris neque quam, fermentum ut nisl vitae, convallis maximus
                    nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor
                    cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
                    tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non
                    fringilla.</p>
                <div class="w3-row">
                    <div class="w3-col m8 s12">
                        <p><a th:href="@{${post.path}}" th:if="${post.showReadMore()}"
                              class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></a></p>
                    </div>
                    <div class="w3-col m4 w3-hide-small">
                        <p><span class="w3-padding-large w3-right w3-opacity"><i class="fa fa-calendar"
                                                                                 aria-hidden="true"></i>   <span
                                th:datetime="${post.publishAt}"
                                th:text='${post.formattedPublishDate}'>April 7, 2017</span></span></p>
                        <!--<p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">0</span></span></p>
                        <p class="w3-right"><span th:text="${post.category}" class="w3-margin-right">Introduction</span></p>
                        <p class="w3-right"><span th:text="${post.author.name}" class="w3-margin-right">ohjongsung</span></p>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- END BLOG ENTRIES -->
    </div>
    <!-- Introduction menu -->
    <div class="w3-col l2 m2 s12" layout:include="fragments/introduction :: introduction"></div>
    <!-- Pagination -->
    <div id='pagination_control' th:if="${paginationInfo.isVisible()}" class="w3-center w3-padding-32">
        <div class="w3-bar">
            <a th:href="@{${@uih.path()}(page=${paginationInfo.previousPageNumber})}"
               class="w3-bar-item w3-button w3-hover-black" th:if="${paginationInfo.previousVisible}">«</a>
            <th:block th:each="element : ${paginationInfo.pageElements }">
                <a th:href="@{${@uih.path()}(page=${element.label})}" th:text="${element.label}"
                   th:if="${element.navigable}" class="w3-bar-item w3-button w3-hover-black"></a>
                <a th:text="${element.label}" th:if="${!element.navigable && element.currentPage}"
                   class="w3-bar-item w3-black w3-button"></a>
                <a th:text="${element.label}" th:unless="${element.navigable || element.currentPage}"
                   class="w3-bar-item w3-button w3-hover-black"></a>
            </th:block>
            <a th:href="@{${@uih.path()}(page=${paginationInfo.nextPageNumber})}"
               class="w3-bar-item w3-button w3-hover-black" th:if="${paginationInfo.nextVisible}">»</a>
        </div>
    </div>
</section>
</body>
</html>