<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout"
      lang="ko" data-code-prettify>
<head>
    <title th:inline="text">[[${post.title}]]</title>
    <!-- Twitter card -->
    <meta name="twitter:card" content="summary">
    <!--<meta name="twitter:site" content="@springcentral">-->
    <meta name="twitter:title" th:content="${post.title}">
    <meta name="twitter:description" th:content="${post.renderedSummary}">
    <!--<meta name="twitter:creator" th:if="${post.author.hasTwitterUsername()}" th:content="'@' + ${post.author.twitterUsername}">-->
    <meta name="twitter:image:src" th:unless="${#strings.isEmpty(post.author.avatarUrl)}" th:content="${post.author.avatarUrl} + '?s=200'">

    <!-- http://opengraphprotocol.org/ -->
    <meta property="og:title" th:content="${post.title}">
    <meta property="og:image" th:unless="${#strings.isEmpty(post.author.avatarUrl)}" th:content="${post.author.avatarUrl} + '?s=200'">
    <meta property="og:description" th:content="${post.renderedSummary}">
    <meta property="og:type" content="article">
    <meta property="og:article:published_time" th:content="${post.publishAt}">
</head>
<body>
<section layout:fragment="content">
    <div class="w3-col l9 s12" th:object="${post}">
        <div id="content" class="w3-panel" layout:include="fragments/_full_post :: full-post" ></div>
    </div>
    <!-- Introduction menu -->
    <div class="w3-col l3" layout:include="fragments/introduction :: introduction"></div>
</section>
</body>
</html>