<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout"
      lang="ko" data-code-prettify>
<head>
    <title th:inline="text">[[${post.title}]]</title>
    <link rel="alternate" hreflang="x-default" th:href="@{'https://ohjongsung.io'+${post.publicSlug}}"/>
    <link rel="alternate" hreflang="ko-kr" th:href="@{'https://ohjongsung.io'+${post.publicSlug}}"/>
    <!-- default meta card -->
    <meta name="author" content="ohjongsung">
    <meta name="keyword" content="blog, development">
    <meta name="description" th:content="${post.renderedSummary}">
    <!-- Twitter card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@OhJongStar">
    <meta name="twitter:title" th:content="${post.title}">
    <meta name="twitter:description" th:content="${post.renderedSummary}">
    <meta name="twitter:creator" content="@OhJongStar">
    <meta name="twitter:image" content="https://ohjongsung.io/resources/images/header_image.jpg">

    <!-- http://opengraphprotocol.org/ -->
    <meta property="fb:app_id" content="1557516384290611">
    <meta property="og:site_name" content="ohjongsung's Dev Story">
    <meta property="og:type" content="article">
    <meta property="og:title" th:content="${post.title}">
    <meta property="og:image" content="https://ohjongsung.io/resources/images/header_image.jpg">
    <meta property="og:description" th:content="${post.renderedSummary}">
    <meta property="og:url" th:content="'https://ohjongsung.io/'+ ${post.publicSlug}">

    <!-- Nate card -->
    <meta name="nate:title" th:content="${post.title}">
    <meta name="nate:description" th:content="${post.renderedSummary}">
    <meta name="nate:image" content="https://ohjongsung.io/resources/images/header_image.jpg">
    <script type="application/ld+json" th:inline="text">
    {
      "@context": "http://schema.org/",
      "@type": "NewsArticle",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://ohjongsung.io/[[${post.publicSlug}]]"
      },
      "headline": "[[${post.title}]]",
      "datePublished": "[[${post.publishAt}]]",
      "author": {
        "@type": "Person",
        "name": "ohjongsung"
      },
      "image": {
        "@type": "ImageObject",
        "height": "",
        "width": "",
        "url": "https://ohjongsung.io/resources/images/header_image.jpg"
      },
      "description": "[[${post.renderedSummary}]]"
    }

    </script>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/intelliJ-style.css}"/>
</head>
<body onload="prettyPrint()">
<section layout:fragment="content">
    <div class="w3-col l10 m10 s12" th:object="${post}">
        <div id="content" class="w3-panel" layout:include="fragments/_full_post :: full-post"></div>
        <div class="w3-panel">
            <div class="fb-comments w3-container" th:data-href="'https://ohjongsung.io/'+${post.publicSlug}"
                 data-width="760" data-numposts="10"></div>
        </div>
    </div>
    <!-- Introduction menu -->
    <div class="w3-col l2 m2 s12" layout:include="fragments/introduction :: introduction"></div>
    <div class="w3-col l2 m2 s12">
        <div class="w3-panel">
            <div class="w3-container w3-xlarge fb-share-button" th:data-href="'https://ohjongsung.io/'+${post.publicSlug}" data-layout="button_count">
            </div>
        </div>
    </div>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/prettify.js"></script>
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.9&appId=1557516384290611";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1557516384290611";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
</section>
</body>

</html>