<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout"
      lang="ko" data-code-prettify>
<head>
    <title th:inline="text">[[${post.title}]]</title>
    <!-- default meta card -->
    <meta name="author" content="ohjongsung">
    <meta name="keyword" content="blog, development">
    <meta name="description" content="ohjongsung's Dev Story">
    <!-- Twitter card -->
    <meta name="twitter:card" content="summary">
    <!--<meta name="twitter:site" content="@springcentral">-->
    <meta name="twitter:title" th:content="${post.title}">
    <meta name="twitter:description" th:content="${post.renderedSummary}">
    <!--<meta name="twitter:creator" th:if="${post.author.hasTwitterUsername()}" th:content="'@' + ${post.author.twitterUsername}">-->
    <meta name="twitter:image:src" content="/resources/images/header_image.jpg">

    <!-- http://opengraphprotocol.org/ -->
    <meta property="og:title" th:content="${post.title}">
    <meta property="og:image" content="/resources/images/header_image.jpg">
    <meta property="og:description" th:content="${post.renderedSummary}">
    <meta property="og:type" content="article">
    <meta property="og:article:published_time" th:content="${post.publishAt}">
    <meta property="fb:locale" content="ko_KR">
    <!-- Nate card -->
    <meta name="nate:title" th:content="${post.title}">
    <meta name="nate:description" th:content="${post.renderedSummary}">
    <meta name="nate:image" content="/resources/images/header_image.jpg">
    <script type="application/ld+json" th:inline="text">
    {
      "@context": "http://schema.org",
      "@type": "article",
      "headline": "[[${post.title}]]",
      "author": "ohjongsung",
      "image": "/resources/images/header_image.jpg",
      "description": "[[${post.renderedSummary}]]"
    }
    </script>
</head>
<body>
<section layout:fragment="content">
    <div class="w3-col l10 m10 s12" th:object="${post}">
        <div id="content" class="w3-panel" layout:include="fragments/_full_post :: full-post" ></div>
        <div class="w3-panel"><div id="disqus_thread" class="w3-container"></div></div>
        <script th:inline="text">

            /**
             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

             var disqus_config = function () {
             this.page.url = [[${post.publicSlug}]];  // Replace PAGE_URL with your page's canonical URL variable
             this.page.identifier = [[${post.id}]]; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
             };

            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://ohjongsung.disqus.com/embed.js';
                s.setAttribute('data-timestamp', + new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
    <!-- Introduction menu -->
    <div class="w3-col l2 m2 s12" layout:include="fragments/introduction :: introduction"></div>
</section>
</body>
</html>