<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/layout"
      data-form-widgets>
<head>
    <title th:inline="text">Edit &middot; [[${post.title}]]</title>
</head>
<body>
<section layout:fragment="content">
    <div class="w3-container">
        <h2 >
            <b><a th:href="@{/admin}">Admin</a> : <a th:href="@{/}">Blog</a> : Edit Post</b>
        </h2>
    </div>
    <form layout:include="admin/_post_form :: post-form" th:with="edit=1" th:action="@{'/admin/' + ${post.id} + '/edit'}" method="post" th:object="${postForm}"></form>
</section>
</div>
</body>
</html>
