<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/layout"
      data-form-widgets>
<head>
    <title>Add New Post</title>
</head>
<body>
<section layout:fragment="content">
    <div class="w3-container">
        <h2 >
            <a th:href="@{/admin}">Admin</a> : <a th:href="@{/}">Blog</a> : New Post
        </h2>
        <form layout:include="admin/_post_form :: post-form" th:with="create=1" th:action="@{/admin}" method="post" th:object="${postForm}"></form>
    </div>
</section>

</body>
</html>
