<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <body>
    <!-- Blog entry -->
    <div class="w3-card-4 w3-margin w3-white" layout:fragment="full-post" th:object="${post}">
      <div class="w3-container">
        <h1 th:text="*{title}">Blog post</h1>
        <span sec:authorize="fullyAuthenticated">
          [<a id="edit" th:href="@{/admin/{id}-{slug}/edit(id=${post.id},slug=${slug})}">Edit</a>]
        </span>
      </div>
      <div class="w3-container">
        <h5><span class="w3-tag w3-teal w3-left w3-margin" th:text="${category.displayName}">Engineering</span></h5>
        <h5><span class="w3-tag w3-teal w3-left w3-margin" th:text="${post.author.username}">Author</span></h5>
        <h5><time class='w3-tag w3-teal w3-left w3-margin' pubdate th:datetime="${post.publishAt}" th:text='${post.formattedPublishDate}'>June 18, 2013</time></h5>
      </div>
      <div class="w3-container" th:utext="*{renderedContent}">
        Blog content
      </div>
    </div>
  </body>
</html>

