<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Footer -->
<footer layout:fragment="footer" class="w3-container w3-dark-grey w3-padding-32 w3-margin-top w3-center">
    <p style="text-align: center">Designed by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
    <p style="text-align: center">© 2017 <a href="https://ohjongsung.io">Ohjongsung </a>  All rights reserved.</p>
</footer>

</body>
</html>