<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout"
      lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Introduction menu -->
<div class="w3-col l3" layout:fragment="introduction">
    <!-- About Card -->
    <div class="w3-panel">
        <img src="/resources/images/profile_image.jpg" style="width:100%">
        <div class="w3-container w3-margin-top w3-xlarge">
            <a href="https://github.com/ohjongsung/" target="_blank"><i class="fa fa-github w3-hover-opacity" aria-hidden="true"></i></a>
        </div>
    </div>
    <hr>
    <div class="w3-panel">
        <p class="w3-leftbar w3-border-green"><a class="w3-margin-left" href="/">All Posts</a></p>
        <p class="w3-leftbar"><a class="w3-margin-left" th:href="@{/category/introduction}">Introduction</a></p>
        <p class="w3-leftbar"><a class="w3-margin-left" href="/category/concept">Concept</a></p>
        <p class="w3-leftbar"><a class="w3-margin-left" href="/category/practice">Practice</a></p>
        <p class="w3-leftbar"><a class="w3-margin-left" href="/category/tip">Tip</a></p>
        <p class="w3-leftbar"><a class="w3-margin-left" href="/category/review">Review</a></p>
       <!-- <ul class="w3-ul">
            <li th:class="${@uih.blogClass(activeCategory?:'','All Posts')}">
                <div class="icon blog-icon all-posts"></div>
                <a th:href="@{/blog}">All Posts</a>
                <a th:href="@{/blog.atom}" class="pull-right"><i class="icon-rss"></i></a>
            </li>
            <li th:each="category : ${categories}" th:class="${@uih.blogClass(activeCategory?:'',category.displayName)}">
                <div th:class="${'icon blog-icon '+ category.displayName.toLowerCase().replace(' ','-')}"></div>
                <a th:href="@{'/blog/category/'+${category.urlSlug}}" th:text="${category.displayName}">Engineering</a>
                <a th:href="@{'/blog/category/'+${category.urlSlug}}+'.atom'" class="pull-right"><i class="icon-rss"></i></a>
            </li>
        </ul>-->
    </div>

    <!-- Posts 추후 개발-->
    <!--<div class="w3-card-2 w3-margin">
        <div class="w3-container w3-padding">
            <h4>Popular Posts</h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
            <li class="w3-padding-16">
                <img src="/w3images/workshop.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                <span class="w3-large">Lorem</span><br>
                <span>Sed mattis nunc</span>
            </li>
            <li class="w3-padding-16">
                <img src="/w3images/gondol.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                <span class="w3-large">Ipsum</span><br>
                <span>Praes tinci sed</span>
            </li>
            <li class="w3-padding-16">
                <img src="/w3images/skies.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                <span class="w3-large">Dorum</span><br>
                <span>Ultricies congue</span>
            </li>
            <li class="w3-padding-16 w3-hide-medium w3-hide-small">
                <img src="/w3images/rock.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                <span class="w3-large">Mingsum</span><br>
                <span>Lorem ipsum dipsum</span>
            </li>
        </ul>
    </div>-->
</div>
</body>
</html>