<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout"
      lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Introduction menu -->
<div class="w3-col l2 m2 s12" layout:fragment="introduction">
    <div class="w3-panel">
        <p th:class="${@uih.blogClass(activeCategory ?: '', 'All Posts')}">
            <a class="w3-margin-left" href="/">All Posts</a></p>
        </p>
        <p th:each="category : ${categories}" th:class="${@uih.blogClass(activeCategory ?: '', category.displayName)}">
            <a class="w3-margin-left" th:href="@{'/category/'+${category.urlSlug}}" th:text="${category.displayName}">Introduction</a></p>
        </p>
    </div>
    <!-- About Card -->
    <div class="w3-panel">
        <div class="w3-container w3-xlarge">
            <a href="https://github.com/ohjongsung/" target="_blank"><i class="fa fa-github w3-hover-opacity w3-margin-right" aria-hidden="true"></i></a>
            <a href="mailto:ohjongsung@gmail.com"><i class="fa fa-envelope-o w3-hover-opacity" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- Posts 추후 개발-->
    <!--<div class="w3-card-2 w3-margin">
        <div class="w3-container w3-padding">
            <h4>Popular Posts</h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
            <li class="w3-padding-16">
                <img src="/w3images/workshop.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                <span class="w3-large">Lorem</span><br>
                <span>Sed mattis nunc</span>
            </li>
            <li class="w3-padding-16">
                <img src="/w3images/gondol.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                <span class="w3-large">Ipsum</span><br>
                <span>Praes tinci sed</span>
            </li>
            <li class="w3-padding-16">
                <img src="/w3images/skies.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                <span class="w3-large">Dorum</span><br>
                <span>Ultricies congue</span>
            </li>
            <li class="w3-padding-16 w3-hide-medium w3-hide-small">
                <img src="/w3images/rock.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                <span class="w3-large">Mingsum</span><br>
                <span>Lorem ipsum dipsum</span>
            </li>
        </ul>
    </div>-->
</div>
</body>
</html>