<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout"
      lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Introduction menu -->
<div class="w3-col l2 m2 s12" layout:fragment="introduction" th:object="${post}">
    <div class="w3-panel">
        <p th:class="${@uih.blogClass(activeCategory ?: '', 'All Posts')}">
            <a class="w3-margin-left" href="/">All Posts</a></p>
        </p>
        <p th:each="category : ${categories}" th:class="${@uih.blogClass(activeCategory ?: '', category.displayName)}">
            <a class="w3-margin-left" th:href="@{'/category/'+${category.urlSlug}}" th:text="${category.displayName}">Introduction</a></p>
        </p>
    </div>
    <!-- About Card -->
    <div class="w3-panel">
        <div class="w3-container w3-xlarge">
            <a href="https://github.com/ohjongsung/" target="_blank"><i class="fa fa-github w3-hover-opacity w3-margin-right" aria-hidden="true"></i></a>
            <a href="mailto:ohjongsung@gmail.com"><i class="fa fa-envelope-o w3-hover-opacity" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="w3-panel">
        <div class="w3-container w3-xlarge fb-share-button" th:data-href="'https://ohjongsung.io/'+${post.publicSlug}" data-layout="button_count">
        </div>
    </div>
</div>
</body>
</html>