<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="ko">
<head>
    <title layout:title-pattern="$CONTENT_TITLE :: $DECORATOR_TITLE">The Jong Sung Oh Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/w3.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/custom-prettify.css}"/>
    <link rel="dns-prefetch" href="https://fonts.googleapis.com"/>
    <link rel="dns-prefetch" href="https://cdn.rawgit.com"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans:400,700"/>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</head>
<body class="w3-light-grey">
<div class="w3-content" style="max-width:2000px">
    <!-- Header -->
    <div class="mySlides w3-display-container w3-center">
        <img src="/resources/images/header_image.jpg" style="width:100%">
        <header th:replace="fragments/header :: header"></header>
    </div>
</div>
    <!-- w3-content defines a container for fixed size centered content,
    and is wrapped around the whole page content, except for the footer in this example -->
    <div class="w3-content" style="max-width:1099px">

        <!-- Grid -->
        <div class="w3-row">
            <!-- Content -->
            <!-- Blog entries -->
            <section layout:fragment="content"></section>

        </div>
    </div>
    <!-- Footer -->
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>