<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="ko">
<head>
    <title layout:title-pattern="$CONTENT_TITLE :: $DECORATOR_TITLE">Ohjongsung's Dev Story</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/favicon/favicon.ico}"/>
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/resources/images/favicon/apple-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/resources/images/favicon/apple-icon-60x60.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/resources/images/favicon/apple-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/resources/images/favicon/apple-icon-76x76.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/resources/images/favicon/apple-icon-114x114.png}">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/resources/images/favicon/apple-icon-120x120.png}">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/resources/images/favicon/apple-icon-144x144.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/resources/images/favicon/apple-icon-152x152.png}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/resources/images/favicon/apple-icon-180x180.png}">
    <link rel="icon" type="image/png" sizes="192x192"  th:href="@{/resources/images/favicon/android-icon-192x192.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/resources/images/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/resources/images/favicon/favicon-96x96.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/resources/images/favicon/favicon-16x16.png}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" th:content="@{/resources/images/favicon/ms-icon-144x144.png}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/w3.css}"/>
    <link rel="dns-prefetch" href="https://maxcdn.bootstrapcdn.com"/>
    <link rel="dns-prefetch" href="https://cdn.rawgit.com"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-100321409-1', 'auto');
        ga('send', 'pageview');
    </script>
    <style>
        html, body, h1, h2, h3, h4, h5, h6 {
            font-family: Noto Sans KR, AppleSDGothicNeo-Regular, Malgun Gothic, "\B9D1\C740   \ACE0\B515", dotum, \\B3CB\C6C0, sans-serif;
        }
        code, kbd, pre, samp {
            font-family: Droid Sans Mono,monospace,Courier;
            border: 0 !important;
            overflow-x: auto;
        }
    </style>
</head>
<body class="w3-white">
<div class="w3-content" style="max-width:2000px">
    <!-- Header -->
    <div class="w3-display-container w3-center">
        <img src="/resources/images/header_image.jpg" alt="ohjongsung's Dev Story" style="width:100%">
        <header th:replace="fragments/header :: header"></header>
    </div>
</div>
    <!-- w3-content defines a container for fixed size centered content,
    and is wrapped around the whole page content, except for the footer in this example -->
    <div class="w3-content" style="max-width:989px">

        <!-- Grid -->
        <div class="w3-row">
            <!-- Content -->
            <!-- Blog entries -->
            <section layout:fragment="content"></section>

        </div>
    </div>
    <!-- Footer -->
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>